argon2-cffi==18.1.0
awsebcli==3.14.2
bcrypt==3.1.4
blessed==1.15.0
botocore==1.10.59
cached-property==1.4.3
cement==2.8.2
certifi==2018.4.16
cffi==1.11.5
Django==2.0.5
django-bootstrap3==10.0.1
django-braces==1.13.0
django-debug-toolbar==1.9.1
docker==3.4.1
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
Faker==0.8.16
jmespath==0.9.3
misaka==2.1.0
pathspec==0.5.5
Pillow==5.2.0
pycparser==2.18
python-dateutil==2.7.3
pytz==2018.4
semantic-version==2.5.0
six==1.11.0
sqlparse==0.2.4
tabulate==0.7.5
termcolor==1.1.0
text-unidecode==1.2
texttable==0.9.1
websocket-client==0.48.0
