{% extends "blog/base.html" %}

{%block body_block%}
  <div class="jumbotron about">
  <h3 >About Me:</h3>
  <p>I'm a master in computer science from Arizona State University, Ira, A Fulton Engineering school. My interested areas are Machine Learning, Computer Vision, artificial intelligence
  , and Database Management.</p>
  <p>This is my personal blog which I'll share useful materials, study note, solutions to problems that I encounter, and my option on some algorthm problem.</p>
  </div>
{%endblock%}
