
/*
.about_logo{
  color: #242426;
}

.blog_logo{
  color: #4e0182;
}

.github_logo{
  color: #3a3a3a;
}

.link_logo{
  color: rgb(47,118,176)
}

.login_logo{
  color: #d8996c;
}

.logout_logo{
  color: #d8996c;
}

.new_logo{
  color: #639af2;
}

.draft_logo{
  color: #3db72a;
}*/

.list_comment{
  font-size: 0.5em;
}

.block_body{
  border-top: solid 1px rgb(238,238,238);
}

#post_line{
  display: flex;
  justify-content: space-between;
}

#post_title{
  display: inline-block;

}

#post_date{
  display: inline-block;
  color: rgh(78,78,78);
}

footer{
  color: rgb(119,119,119)
}

body{
  font-family: 'Sawarabi Mincho', sans-serif;
}

.postcontent{
  color: rgb(78,78,78);
}

.about{
  text-align: left;
  color: rgb(78,78,78);
}
